@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";



.breadcrumb{
  font-size: .75rem;
  padding: 0;

}
.breadcrumb-item{
  a{
    color:#b1b1b1;
  }
}
.breadcrumb-item.active{
  color:#d9d9d9;
}