@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";

.ctovar__card-wrapper {
  padding-bottom: 30px;
  height: 100%;
}
.ctovar__card {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: #1d1d1d;
  &:hover{
    background-color: #d9d9d9;
    color: black;
  }
}
.ctovar__footer {
  display: flex;
  flex-grow: 1;
  padding: .5rem;
  flex-direction: column;
}
.ctovar__footer-title{
  flex-grow: 2;
}
.ctovar__footer-price{
  flex-grow: 1;
  align-self: flex-end;
  white-space: nowrap;
  text-align: right;
  margin-left: .5rem;
}
@include media-breakpoint-up(md){
  .ctovar__footer{
    flex-direction: row;
  }
  .ctovar__footer-price{
    align-self: start;
  }
}