footer {
    min-height: 80px;
}

.footer__wrapper {
    font-size: .8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-top-border {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#331e0c+0,6c6a4b+30,6c6a4b+70,331e0c+100 */
    background: #331e0c;
  /* Old browsers */
  /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #331e0c 0%, #6c6a4b 30%, #6c6a4b 70%, #331e0c 100%);
  /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#331e0c), color-stop(30%, #6c6a4b), color-stop(70%, #6c6a4b), to(#331e0c));
    background: -o-linear-gradient(left, #331e0c 0%, #6c6a4b 30%, #6c6a4b 70%, #331e0c 100%);
    background: linear-gradient(to right, #331e0c 0%, #6c6a4b 30%, #6c6a4b 70%, #331e0c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331e0c', endColorstr='#331e0c',GradientType=1 );
  /* IE6-9 */
    min-height: 1px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
