@import "../core/functions";
@import "../core/variables";
@import "../core/mixins";
.navbar-toggler{
  padding: .25rem 0rem;
}
.icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 4px;
  background: #fff!important;
}
.navbar-collapse{
  justify-content: center;
}
.icon-bar--wrapper {
  .icon-bar {

    transition: all .25s ease-in-out;
  }

  &.open {
    .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
    }

    .icon-bar:nth-child(2) {
      opacity: 0;
    }

    .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  }
}





// Navbar themes

// White links against a dark background
.navbar-theme {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}
